* {
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scrollbar-gutter: stable;
}

body{
    background-color: black;
    color: aliceblue;
}
header nav ul {
    background-color: rgb(46, 44, 44);
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center; 
}
.logo img{
    position:absolute;
    height: 50px;
    top: 5px;
    left: 10px;
}
.perfil{
    position: absolute;
    top:auto;
    right: 20px;
    }

#perfil-icon {
    height: 20px;
    border-radius: 100%;
    background-color: whitesmoke;
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 10px;
    margin-right: 5px;
}
#setinha img{
    height: 15px;
    position: absolute;
    right: 25px;
    top: 22px;
}

.perfil-menu{
    display:none;
    justify-content: center;
}

.menu-suspenso:hover .perfil-menu{
    position:fixed;
    top: auto;
    right: 10px;
    display:block;
    width: 200px;
    list-style: none;
}


.menu li a {
    text-decoration: none;    
    text-align: center;
    display: block;
    padding: 20px;  
    color: white;
}
.menu > li:not(.perfil) > a{
    border-radius: 12px;
}

.menu a:not(.logo):not(#setinha):hover{
    background-color: aliceblue;
    color: black;
}
.topmovies {
    width: 100%;
    overflow-x: auto;
}
.topmovies h2{
    position:sticky;
    left:0;
    width: 100%;
}
/*.topmovies::-webkit-scrollbar{
    display: none;
    }*/
    
.topmovies-images{
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
}
 .midia img{
    height:250px; 
    width:175px;
 }

 .sobre p{
    width: 100%;
    text-align: center;
    text-align: justify;
 }

 .detalhes{
    display: flex;

 }

.cartaz img{
    height: 400px;
    width: 300px;
    margin-left: 40px;
    margin-top: 25px;
 }

 .descricao{
    margin-left: auto;
    width: 700px;
    text-align: left;
    padding-top: 25px;
    padding-right: 40px;
 }
 .descricao p{
    font-size: 24px;
    text-align: justify;
    padding-right: 40px;
 }

 .descricao h1{
    font-size: 40px;
 }